sudo: false
language: android
jdk: oraclejdk8
android:
  components:
  - platform-tools
  - tools
  - build-tools-23.0.3
  - android-23
before_install:
- chmod +x gradlew
script:
- "./gradlew clean build connectedAndroidTest -PdisablePreDex --stacktrace"
after_success:
- sh set_tags.sh
notifications:
  email: true
before_cache:
- rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
  - "$HOME/.m2"
  - "$HOME/.gradle"
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
deploy:
  provider: releases
  api_key:
    secure: rCY5p7+ad6f+mxUCxY2AWzptrp3fDEgtZQtpnemwms2DaYQFk05dCjewo0/uUsDac0IUjDnCaPf+yookE6Jb/WQgg7+baY6OB9TxGiTCDNxBXmnBbEmE3mwGkKrPBwRo8jlmhCS3MFVD3nCn1HGThjv9bzUyqKshvoM5JvJ8mymlLlJ1ahaLDwlUWct1z6Wb1l05qUo6/9KTqiOdBkK+THDNFliifVPBn4YhNnTaMbB248YWDEGDoSpvCnmh4YIbPVC7YOTIzSmPCPc236frZL28Y6T58EKcROHWp4mVXR9u4tEJ8XJNkgiTiK3sB+djQp+yjRej/s7AJsacei8xOVeUL8mlqwhzcDJfUR7sAZDwH+/cixSKDjjPEj6T1S9Zayf5Njn+ibMGUt4wqrxBoNaG6xXNY8gRTmJZXM7MWbS87PwLpi/AfS/cgjB/+DgAcBAFB7w0HzIigWGYAGrCnxhoan7MaD/WrUG+RwSKDQZLmv1bMBGNzO27f1UllfAwEaCIoPLBRgkfXbkyvgI2+lFjiRXlQPTMp67tCXLPQRm124px3G2UzBn25yRTc6oKoNn8UGnyckahzoZO0KyLkHBJ7pUfo6yF0Msgz39BURDx5vVRyr11qfv1UVl/FwPCrqQQJqIEFm+mFA1zopay2Fshl/OzpkNePAFfre4ydV4=
  file: autodeployapp/build/outputs/apk/autodeployapp*release*.apk
  on:
    repo: rasoulian/AutoDeployExample
